/* PÁGINA DO CONTATO */

.contato {
    background-image: url('wallpaper3.jpg');
    background-size: cover;
    height: 660px;  
}

.contato .container {
    background-color: #00000082;
    color: white;
    overflow: auto;
    height: 100%;
    margin-right: 60%;
    width: 40%;
}

.h1 {
    text-align: center;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.formulario {
    margin: auto;
    width: 90%;
    color: white;
}

.btn-green {
    color: white;
    margin: 20px 0 50px 0;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    float: left;
    cursor: pointer;
}


.input-padrao {
    display: block;
    margin-bottom: 10px;
    padding: 10px 10px;
    width: 90%;
    border-radius: 5px;
    border: solid 1px #bbbbbb;
}

.div-radio {
    margin-bottom: 30px;
}

/* PÁGINA DO LOGIN */
.container{
    margin: auto;
}

.pag-login {
    background-image: url('wallpaper3.jpg');
    background-size: cover;
    height: 660px;    
}

.box-login {
    display: inline-block;
    background-color: #00000082;
    color: white;
    margin-left: 60%;
    height: 100%;
    width: 40%;    
}

.pag-login h1 {
    text-align: center;
    font-size: 32px;
    margin-top: 100px;
    margin-bottom: 10px;
}

.botao-cadastrar{
    display: block;
    float: none;
    margin: auto;
    margin-top: 15px;
    margin-right: 200px;
    margin-bottom: 10px;
    border: none;
    font-size: 20px;
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* EXTRA */

.extra {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extra img {
  height: 50px;
   visibility: hidden;
}

.extra .msg_erro {
    background-color: sandybrown; 
    color: black; 
    visibility: hidden;
}