/* PÁGINA DO CONTATO */

.contato {
    background-color: #00ccff;
}

.contato .container {
    overflow: auto;
}

.h1 {
    font-weight: bold;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: right;
    padding-right: 150px ;
}

.formulario {
    float: right;
    width: 500px;
    margin: 5px;
}

form label, form p{
    display: block;
    font-size: 20px;
    margin-bottom:10px ;
}

.btn-green {
    color: white;
    margin: 20px 0 50px 0;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    float: left;
    cursor: pointer;
}

.imagem-lateral {
    overflow: auto;
    padding-right: 60px;
}

.contato img {
    float: right;
    width: 85%;
}

.input-padrao {
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 90%;

    border-radius: 5px;
    border: solid 1px #bbbbbb;
}

.div-radio {
    margin-bottom: 30px;
}

/* PÁGINA DO LOGIN */
.container{
    margin: auto;
}

.pag-login {
    
    background-image: url(https://cdn-www.bluestacks.com/bs-images/bg174.jpg);
    background-size: cover;
    text-align: center;
    height: 520px;    
}

.pag-login h1 {
    margin-bottom: 40px;
}

.pag-login .input-padrao {
    width: 50%;
    display: inline-block;
}

.box-login {
    display: inline-block;
    background-color: #1124FA;
    color: white;
    padding: 60px 20px 0px 20px;
    border-radius: 25%;
    width: 400px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.pag-login .btn-green {
    display: block;
    float: none;
    margin: auto;
    background-color: red;
    color: white;

}
.botao-cadastrar{
    display: block;
    float: none;
    margin: auto;
    margin-bottom: 65px;
    border: none;
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;

}

.imagem-lateral{
    width: 300px;
}
