.logo{
    width: 180px;
}

.box_tras{
    background-color: rgb(0, 81, 255);
    background-image: url(logoparteazul.png);
    background-size: 40%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.box_centro{
    margin: auto;
    width: 85%;
    height: 520px;
    background-color: rgba(255, 255, 255, 0.85);
}

.grafico{
    width: 40%;
    height: 41%;
    margin-left: 75px;
    margin-top: 46px;
    background-color: rgba(255, 255, 255, 0.89);
    
    float: left;
}

.descricao{
    width: 40%;
    height: 20%;
    margin-left: 75px;
    margin-top: 40px;
    float: left;
    color: rgba(0, 0, 0, 0.787);
}

.descricao_especial{
    width: 90%;
    height: 13%;
    margin-left: 80px;
    margin-top: 46px;
    float: left;
    color: rgba(0, 0, 0, 0.787);
}

.teste{
    color: #a6a1cc;
}