.logo{
    width: 180px;
}

.box_tras{
    background-color: rgb(0, 81, 255);
    background-image: url(logoparteazul.png);
    background-size: 25%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.box_centro{
    margin: auto;
    width: 50%;
    height: 520px;
    background-color: rgba(255, 255, 255, 0.85);
    text-align: center;
}

.box_meio{
    height: 100%;
    width: 80%;
    margin: auto;
    border-left: solid rgba(0, 0, 0, 0.342) 5px;
    border-right: solid rgba(0, 0, 0, 0.342) 5px;
}

.texto_meio{
    font-size: 20px;
}